[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=YarpDev
GenericName=TerminalEmulator

Exec=yarp-terminal-dev %U
StartupWMClass=dev.yarp.YarpDev

Keywords=shell;prompt;command;commandline;cmd;

Icon=dev.yarp.YarpDev

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for yarpdev:// URLs.
MimeType=x-scheme-handler/yarpdev;
